.modernFont {
  font-family: 'Montserrat', sans-serif;
}

.paddingDiv {
  padding: 40px;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}

.inputFields {
  padding: 2px;
  width: 100px;
  padding-left: 10px;
}

.buttonstyle {
  background: lightgray;
}

.table {
  display: table-cell;
  height: 150px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #000;
  color: #fff;
}

.chairclass {
  padding-left: 40px;
}

.chairPadding {
  margin: 5px;
}

.hint {
  font-size: 10px;
  color: grey;
  padding-left: 40px;
}
