<mat-toolbar style="background: #ffe400">
  <mat-toolbar-row>
    <div class="modernFont">F&P Sushi Bar Lösungsvorschlag von Tim Strößner</div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="paddingDiv">
  <div class="flex-column-container">
    <div class="flex-row-container">

      <label>Anzahl Sitzplätze: </label>

      <mat-form-field class="inputFields">
        <input [disabled]="disableForm.value" type="number" min="1" [(ngModel)]="chairCount" matInput value="chairCount">
      </mat-form-field>
      <label class="hint" style="padding-left: 10px">Mindestens 1 Sitzplatz</label>
    </div>

    <div class="flex-row-container">

      <button [disabled]="disableForm.value || chairCount < 1" class="modernFont buttonstyle" mat-raised-button (click)="showChairs()">Tisch erstellen</button>

    </div>
  </div>
</div>

<div class="paddingDiv">
  <div [hidden]="chairsHidden">
    <div class="flex-row-container">
      <label>Freie Stühle: </label>
      <label style="margin-left: 10px;">{{freeChairs}}</label>
    </div>
    <div class="flex-row-container">
      <label>Besetzte Stühle: </label>
      <label style="margin-left: 10px;">{{obtainedChairs}}</label>
    </div>
  </div>
</div>

<div class="chairclass">
  <div class="flex-row-container">
    <mat-chip-list id="chairs">
      <mat-chip *ngFor="let chair of chairs" [style.background]="chair.obtained === false ? '' : 'orange'" class="chairPadding">{{chair.number}}</mat-chip>
    </mat-chip-list>
  </div>
</div>

<div class="paddingDiv" [hidden]="chairsHidden">
  <div class="flex-row-container">
    <label>Gruppengröße: </label>
    <mat-form-field class="inputFields">
      <input type="number" min="1" [(ngModel)]="groupSize" matInput value="groupSize">
    </mat-form-field>
    <label class="hint" style="padding-left: 10px">Mindestens 1 Person</label>
  </div>
  <button [disabled]="groupSize < 1" class="modernFont buttonstyle" mat-raised-button (click)="distributeChairs()">Gruppe einteilen</button>
</div>

<div class="paddingDiv" [hidden]="groupsHidden">
  <label>Gruppen:</label>
  <div class="flex-row-container">
    <mat-chip-list id="groups">
      <mat-chip *ngFor="let group of groups" (click)="confirmDelete(group)" class="chairPadding">Gruppengröße: {{group.size}} | Sitze:&nbsp;
        <div *ngFor="let chair of group.seats">{{chair.number}}&nbsp;</div>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<label class="hint" [hidden]="groupsHidden">Zum löschen anklicken</label>

