/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.mat-form-field-infix{
  padding: 0px;
  border-top: 0px;
}
